.Board {
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.reset, .winner {
  margin: 10px;
}

button {
  cursor: pointer;
}
